# Objectives

After completing this lab you will be able to:

* Variables
* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples
    * Sets

* Type Conversion
* Comparison Operators
* Logical Operators
* Assignment Operators
* if, elif, else Statements
____

In Python, variables are used to store data values. These values can be numbers, strings,
lists, dictionaries, or any other data type. Variables are essential for manipulating and
## working with data in your programs. Here's how you declare and use variables in Python:

Variable Names: Variable names (also known as identifiers) must adhere to the
following rules:
They can contain letters (a-z, A-Z), digits (0-9), and underscores (_).
They cannot start with a digit.
Variable names are case-sensitive, so myVar and myvar are treated as different
variables.
Python has reserved keywords (e.g., if, for, while, print) that cannot be used as variable
names.
1. Data Types: Python is dynamically typed, which means you don't need to declare the
data type of a variable explicitly. Python will determine the data type automatically
based on the assigned value.

In [ ]:
x = 5 # Assigning the integer value 5 to the variable 'x'
name = "Alice" # Assigning a string value to the variable 'name'

# **Reassignment: You can change the value of a variable by assigning it a new value**

In [ ]:
x = 5
x = x + 1 # Updating the value of 'x' to 6
print(x)

6

# **Multiple Assignment: Python allows you to assign multiple variables in a single line.**

In [ ]:
a, b, c = 1, 2, 3 # Assigning values 1, 2, and 3 to variables a, b, and c
print(a)

1

In [ ]:
a = 1
b = 2
c = 3
print(a,b,c)

1 2 3

In [ ]:
a=b=c= 5
print(a,b,c)

5 5 5

# Data types

In [ ]:
# integer This data type is used to represent integers, both positive and negative whole
x = 5
y = -10

# float (Decimal)  are used to represent floating-point numbers, which include decimal points. For example,

pi = 3.14159
value = 2.5


# string  (Text) are used to represent sequences of characters, such as text. They can be enclosed in single quotes (' '), double quotes (" ")
strVar='shereen'

""" boolean represent either True or False . They are used for logical operations and comparisons. For example,
"""
is_true = True
is_false = False
passing=False
flag2=True

# Empty value or null data type
"""
The None type represents the absence of a value or a null value. It is often
used to indicate that a variable or result has no meaningful value assigned to it.
"""
none_var=None   # null

#  Complex numbers :  represent numbers with both real and imaginary parts.
#They are written as a + bj
complex_num = 2 + 3j

In [ ]:
name="Shereen"
age=22
flag=False
number=5.5
complex_num = 2 + 3j


print(type(age))
print(type(name))
print(type(flag))
print(type(number))
print(type(complex_num))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>
<class 'complex'>

### Exercise
Create variable for each name, age, live and GPA

<details><summary>Click here for the solution</summary>

```python
# String variable for name
name = "shereen"

# Integer variable for age
age = 22

# Float variable for GPA
GPA = 3.3

# String variable for Live
live = "Tanta"
```
</details>

```

### Operations

In [ ]:
1 + 1

2

In [ ]:
1 * 3

3

In [ ]:
1 / 2

0.5

In [ ]:
2 ** 4

16

In [ ]:
4 % 2

0

In [ ]:
5 % 2

1

In [ ]:
(2 + 3) * (5 + 5)

50

### Variable Assignment

In [ ]:
# Can not start with number or special characters
name_of_var = 2

In [ ]:
x = 2
y = 3

In [ ]:
z = x + y

In [ ]:
z

5

### Exercise
Create Equation y= (2x+3) + (9 - 5*x) - (x/3)     give x = 10 , 0 , -10

<details><summary>Click here for the solution</summary>

```python
# Calculate y for x = 10
x = 10
y1 = (2 * x + 3) + (9 - 5 * x) - (x / 3)
print(y1)

# Calculate y for x = 0
x = 0
y2 = (2 * x + 3) + (9 - 5 * x) - (x / 3)
print(y2)

# Calculate y for x = -10
x = -10
y3 = (2 * x + 3) + (9 - 5 * x) - (x / 3)
print(y3)

```

### Strings

In [ ]:
'single quotes'

'single quotes'

In [ ]:
"double quotes"

'double quotes'

In [ ]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

### Exercise
Create Variable with multi line

 My name is Shereen.

 Age 22.
  
 Live in Tanta

<details><summary>Click here for the solution</summary>

```python

data = """
 My name isshereen.
 Age 22
 Live in Tanta
"""
print(data)

```
</details>

```

### Printing

In [ ]:
# Python is case sensitive
print('Hello World')

Hello World

In [ ]:
print(hey) # it throws error beacuse only string is always in " "

NameError: name 'hey' is not defined

In [ ]:
print(7)

7

In [ ]:
# how print function strng in python -- it print all the values which we want to pr
print('Hello',3,4,5,True)

Hello 3 4 5 True

In [ ]:
# sep
print('Hello',3,4,5,True,sep='/')

Hello/3/4/5/True

In [ ]:
x = 'hello'

In [ ]:
x

'hello'

In [ ]:
print(x)

hello

In [ ]:
num = 22
name = 'shereen'

In [ ]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 22, and my name is: shereen

In [ ]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 22, and my name is: shereen

In [ ]:
print(f'My number is: {num}, and my name is: {name}')

My number is: 22, and my name is: shereen

### Exercise
Create Three Variable

Name

Age

Live

Factory

then Print for each Way

<details><summary>Click here for the solution</summary>

```python

Name = "shereen"
Age = 22
Live =  "Tanta"
Factory = "BFCAI"
print(' My name is {one} \n my age is {two} \n live in {three} \n my Factory {four}'.format(one=Name,two=Age,three=Live,four=Factory))
print(' My name is {} \n my age is {} \n live in {} \n my Factory {}'.format(Name,Age,Live,Factory))
print(f' My name is {Name} \n my age is {Age} \n live in {Live} \n my Factory {Factory}')
```
</details>

```

###  User input

How to get Input from the user in python?

In [ ]:
input('Enter Email')

Enter Email3

'3'

In [ ]:
# take input from users and store them in a variable
fnum = int(input('enter first number'))
snum = int(input('enter second number'))
#print(type(fnum),type(snum))
# add the 2 variables
result = fnum + snum
# print the result
print(result)
print(type(fnum))

enter first number3
enter second number3
6
<class 'int'>

In [ ]:
a=input('Enter number: ')
print(a)
print(type(a))

Enter number: 4
4
<class 'str'>

In [ ]:
a=int(input('Enter number: '))
print(a)
print(type(a))

Enter number: 4
4
<class 'int'>

In [ ]:
a = '7.2'
a

'7.2'

In [ ]:
a = '5'
int(a)

5

In [ ]:
a = '5.6'
float(a)

5.6

In [ ]:
a = 10
str(a)

'10'

In [ ]:
int(float('5.5'))

5

### Exercise
Take Value from user and convert it to integer and floating and string

Enter number 1

<class 'str'>
1
1.0
1

<details><summary>Click here for the solution</summary>

```python

V = input("Enter number")
print(type(V))
print(int(V))
print(float(V))
print(str(V))
```
</details>

```

### Lists

# **List**
In Python, a list is a data type used to store a collection of values. It is one of the built-in
data types and is classified as a sequence type. Lists are ordered, mutable (which means you
can change their contents), and can contain elements of different data types, including
integers, floats, strings, or even other lists.
You can create a list in Python by enclosing a comma-separated sequence of values within
square brackets [ ]. For example:

In [ ]:
#Creating a List
# Empty
print([])
# 1D -> Homo
print([1,2,3,4,5])
# 2D
print([1,2,3,[4,5]])
# 3D
print([[[1,2],[3,4]]])
# Heterogenous
print([1,True,5.6,5+6j,'Hello'])
# Using Type conversion
print(list('hello'))

[]
[1, 2, 3, 4, 5]
[1, 2, 3, [4, 5]]
[[[1, 2], [3, 4]]]
[1, True, 5.6, (5+6j), 'Hello']
['h', 'e', 'l', 'l', 'o']

In [ ]:
[1,2,3]

[1, 2, 3]

In [ ]:
l=[]  # l = list()

In [ ]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [ ]:
my_list = ['a','b','c']

In [ ]:
my_list

['a', 'b', 'c']

In [ ]:
my_list[0]

'a'

In [ ]:
my_list[1]

'b'

In [ ]:
my_list[1:]

['b', 'c']

In [ ]:
my_list[:1]

['a']

In [ ]:
my_list[0] = 'NEW'

In [ ]:
my_list

['NEW', 'b', 'c']

In [ ]:
nest = [1,2,3,[4,5,['target']]]

In [ ]:
nest[3]

[4, 5, ['target']]

In [ ]:
nest[3][2]

['target']

In [ ]:
l1= [1,2,3]
l2=[7,8,9]
l3 = l1 + l2
l3

[1, 2, 3, 7, 8, 9]

In [ ]:
len(l3)

6

In [ ]:
my_list = ['a','b','c']

In [ ]:
## Apend -> The append method is used to add an item to the end of a list.
my_list.append('d')          #append('value')

In [ ]:
my_list

['a', 'b', 'c', 'd']

In [ ]:
## insert -> The insert method allows you to add an item at a specific position
my_list.insert(2,50)         # insert(index,value)

In [ ]:
my_list

['a', 'b', 50, 'c', 'd']

In [ ]:
## Extend -> The extend method is used to append elements from an iterable
my_list.extend([6,7,8])
my_list

['a', 'b', 50, 'c', 'd', 6, 7, 8]

In [ ]:
my_list

['a', 'b', 50, 'c', 'd', 6, 7, 8]

In [ ]:
my_list.index('b')

1

In [ ]:
lst=[1,2,3,4,4,90,1,4]
print(lst.count(4))

3

In [ ]:
lst=[3,10,0,-20]
# sort list
lst.sort()
print(lst)

[-20, 0, 3, 10]

# **Editing items in a List**

In [ ]:
l = [1,2,3,4,5,6]
# editing with indexing
l[-1] = 300
print(l)
# editong with slicing
l[1:4] = [200,300,400]
print(l)

[1, 2, 3, 4, 5, 300]
[1, 200, 300, 400, 5, 300]

## **Deleting items from a List**

In [2]:
# del -> The del statement is used to remove an item from a list based on its index
l = [1,2,3,4,5]
#indexing
del l[2]
print(l)

[1, 2, 4, 5]

In [1]:
# remove -> The remove method is used to remove the first occurrence of a specific
l = [1,2,3]
l.remove(2)
l.remove(3)

print(l)

[1]

In [ ]:
# pop -> The pop method is used to remove and return an item from the list based on
# If you don't provide an index, it will remove and return the last item by default
L = [1,2,3,4,5]
L.pop()
print(L)

[1, 2, 3, 4]

In [ ]:
# clear -> The clear method is used to remove all items from the list, effectively
L = [1,2,3,4,5]
L.clear()
print(L)

[]

In [ ]:
my_list = [1, 2, 3, 4, 5]
# Reverse Using Slicing
reversed_lst=my_list[::-1]
print(reversed_lst)

[5, 4, 3, 2, 1]

In [ ]:
# Reversing the list in place
my_list.reverse()
print(my_list)

[5, 4, 3, 2, 1]

### Exercise

create empty list and add integer number and string and list of number and pop first and last element

List before popping: [25, 'Hello', [1, 2, 3]]
Popped first element: 25
Popped last element: [1, 2, 3]
List after popping: ['Hello']

<details><summary>Click here for the solution</summary>

```python

# Create an empty list
my_list = []

# Add an integer number
my_list.append(25)

# Add a string
my_list.append("Hello")

# Add a list of numbers
my_list.append([1, 2, 3])

# Print the list before popping
print("List before popping:", my_list)

# Pop the first element (index 0)
first_element = my_list.pop(0)
print("Popped first element:", first_element)

# Pop the last element
last_element = my_list.pop(-1)
print("Popped last element:", last_element)

# Print the list after popping
print("List after popping:", my_list)

```
</details>

```

### Dictionaries
a dictionary is a built-in data type used to store a collection of key-value pairs.
Each key in a dictionary maps to a specific value, creating a relationship between them.
Dictionaries are also known as associative arrays or hash maps in other programming
languages.

In [4]:
# empty
d = {}
print(d)
#1D
d1 = {'name':'xyz', 'Age':23, 'gender':'male'}
print(d1)
# with mixed keys
d2 = {(2,2,3):1,'hello':'world'}
print(d2)
# 2D dictionary
s = {
'name':'ramesh',
'college':'bit',
'sem':4,
'subjects':{
'dsa':50,
'maths':67,
'english':34
}
}
print(s)

#mutable items keys
d6 = {'name':'xyz', (1,2,3):2}
print(d6)

{}
{'name': 'xyz', 'Age': 23, 'gender': 'male'}
{(2, 2, 3): 1, 'hello': 'world'}
{'name': 'ramesh', 'college': 'bit', 'sem': 4, 'subjects': {'dsa': 50, 'maths': 67, 'english': 34}}
{'name': 'xyz', (1, 2, 3): 2}

# **Accessing Items**

In [ ]:
my_dict = {'name': 'Jack', 'age': 26}
my_dict['name'] # you have to write keys

'Jack'

In [ ]:
print({'name':'Nitish','gender':'Male','weight':70})

{'name': 'Nitish', 'gender': 'Male', 'weight': 70}

In [ ]:
# dict({key:value})
z =dict({4:123} )
z

{4: 123}

In [ ]:
{4:123}

{4: 123}

In [ ]:
z[4]

123

In [ ]:
d = {'key1':'item1','key2':'item2'}

In [ ]:
d

{'key1': 'item1', 'key2': 'item2'}

In [ ]:
d.values()

dict_values(['item1', 'item2'])

In [ ]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [ ]:
d['key3']='items3'

In [ ]:
d

{'key1': 'item1', 'key2': 'item2', 'key3': 'items3'}

In [ ]:
d.pop("key1")

'item1'

In [ ]:
d

{'key2': 'item2', 'key3': 'items3'}

In [ ]:
d.popitem()  # it remove last item in the dictionary

('key3', 'items3')

In [ ]:
d

{'key2': 'item2'}

In [ ]:
d.update({'key21':'vallue2','key7':'value7'})

In [ ]:
d

{'key2': 'item2', 'key21': 'vallue2', 'key7': 'value7'}

In [ ]:
d.get('key3')

In [ ]:
#clear
d.clear() # it clear dictionary
print(d)

{}

# **Dictionary Functions**

In [ ]:
print(s)

{'name': 'ramesh', 'college': 'bit', 'sem': 4, 'subjects': {'dsa': 50, 'maths': 67, 'english': 34}}

In [ ]:
# len/sorted
print(len(s))
sorted(s)

4

['college', 'name', 'sem', 'subjects']

In [ ]:
# items/keys/values
print(s.items())
print(s.keys())

dict_items([('name', 'ramesh'), ('college', 'bit'), ('sem', 4), ('subjects', {'dsa': 50, 'maths': 67, 'english': 34})])
dict_keys(['name', 'college', 'sem', 'subjects'])

In [ ]:
print(s.values())

dict_values(['ramesh', 'bit', 4, {'dsa': 50, 'maths': 67, 'english': 34}])

# **How to know which type of Datatype is?**

In [ ]:
type([1,2,3,4])

list

In [ ]:
type({'age':20})

dict

### Exercise

Create a dictionary with at least four key-value pairs.

update Value in dictionary

Remove an item using the pop() method.

Remove the last item using the popitem() method.

Original dictionary: {'name': 'Hossam', 'age': 25, 'GPA': 3.75, 'location': 'Tanta', 'major': 'Artificial Intelligence'}
Dictionary after updating 'GPA': {'name': 'Hossam', 'age': 25, 'GPA': 3.9, 'location': 'Tanta', 'major': 'Artificial Intelligence'}
Removed 'GPA': 3.9
Dictionary after removing 'GPA': {'name': 'Hossam', 'age': 25, 'location': 'Tanta', 'major': 'Artificial Intelligence'}
Removed last item: ('major', 'Artificial Intelligence')
Dictionary after removing the last item: {'name': 'Hossam', 'age': 25, 'location': 'Tanta'}

<details><summary>Click here for the solution</summary>

```python

# 1. Create a dictionary with at least four key-value pairs
student = {
    "name": "shereen",
    "age": 22,
    "GPA": 3.3,
    "location": "Tanta"
}

student['major'] = "Artificial Intelligence"
# student.update({'major':"Artificial Intelligence"})
print("Original dictionary:", student)

# 2. Update the value of an existing key
student["GPA"] = 3.9  # student.update({'GPA':10})

print("Dictionary after updating 'GPA':", student)

# 3. Remove an item using the `pop()` method
removed_item = student.pop("GPA")
print("Removed 'GPA':", removed_item)  
print("Dictionary after removing 'GPA':", student)

# 4. Remove the last item using the `popitem()` method
last_item = student.popitem()
print("Removed last item:", last_item)
print("Dictionary after removing the last item:", student)


```
</details>

```

### Tuples
# **tuple is another data type used to store a collection of values, similar to a list.**
However, there are some key differences between tuples and lists:
Immutable: The most significant difference is that tuples are immutable, meaning once
you create a tuple, you cannot change its contents (add, remove, or modify elements).
Lists, on the other hand, are mutable, and you can modify them after creation.
Syntax: Tuples are created by enclosing a comma-separated sequence of values within
parentheses (). Lists are created with square brackets []. For example:
Performance: Due to their immutability, tuples can be more efficient in terms of
memory and performance for certain use cases compared to lists.
Tuples are often used when you have a collection of values that should not be changed
during the course of your program.

In [ ]:
# How to create empty tuple
t1 =()
print(t1)

()

In [5]:
t = tuple([1,2,3,4,5])

In [6]:
t

(1, 2, 3, 4, 5)

In [7]:
type(t)

tuple

In [8]:
t = (1,2,3)

In [9]:
t,
type(t)

tuple

In [ ]:
t[0]

1

## Editing items in tuple/Deleting in tuple
Tuple are immutable like string it cannot change or Delete

In [ ]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [ ]:
t.count(5)

1

In [ ]:
t.index(1)

0

In [ ]:
t1=(1,2,3)
t2=(3,4,5)

t1+t2

(1, 2, 3, 3, 4, 5)

In [ ]:
t3 = (1,2,3,4,5)
print(t3)
# extract 4 from the tuple
print(t3[3])
# extract 3,4,5
print(t3[2:])

(1, 2, 3, 4, 5)
4
(3, 4, 5)

# **Operation on Tuples**

In [ ]:
# + and *
t1 = (1,2,3,4)
t2 = (5,6,7,8)
print(t1 + t2)
# membership    #True
print(1 in t1)
# iteration/loops
for i in t3:
 print(i)

(1, 2, 3, 4, 5, 6, 7, 8)
True
1
2
3
4
5

# **Tuple Functions**

In [ ]:
# len/sum/min/max/sorted
t = (1,2,3,4,5)
print(len(t))
print(sum(t))
print(min(t))
print(max(t))
print(sorted(t))

5
15
1
5
[1, 2, 3, 4, 5]

In [ ]:
# count
t = (1,2,3,4,5)
t.count(3)

1

In [ ]:
# index
t = (4,64567,3454,11,33,55)
t.index(64567)

1

In [ ]:
# zipping tuples
a = (1,2,3,4)
b = (5,6,7,8)
tuple(zip(a,b))

((1, 5), (2, 6), (3, 7), (4, 8))

### Exercise

<details><summary>Click here for the solution</summary>

```python

t = tuple([1,2,3])
t = list(t)
t.append(0)
t = tuple(t)
print(t,type(t))

```
</details>

```

Create a tuple named student_info that contains the following information: a student's name (as a string), their age (as an integer), and their GPA (as a float).

Create another tuple more_info that contains the student's major (as a string) and their graduation year (as an integer). Concatenate student_info and more_info into a new tuple named full_info.

add two tuple then count number of age

22
shereen
22
3.3
('shereen', 22, 3.3, 'Artificial Intelligence', 2024)
0

<details><summary>Click here for the solution</summary>

```python

student_info = ("shereen", 22, 3.3)
print(student_info[1])  # Output: 21

name, age, gpa = student_info
print(name)  # Output: Hossam
print(age)   # Output: 21
print(gpa)   # Output: 3.9

more_info = ("Artificial Intelligence", 2024)
full_info = student_info + more_info
print(full_info)  # Output: ('Hossam', 21, 3.9, 'Artificial Intelligence', 2024)

print(full_info.count(21))  # Output: 0

# Attempting to modify the tuple
# student_info[0] = "Bob"  # This will raise a TypeError
```
</details>

```

### Sets
a set is a built-in data type used to store an unordered collection of unique
elements. Sets are defined by enclosing a comma-separated sequence of values within curly
braces {} or by using the built-in set() constructor. Sets automatically eliminate duplicate
values, ensuring that each element is unique within the set.

In [11]:
set={1,2,"shereen", "s",1,"shereen"}
print(set)
print(type(set))

{'s', 1, 2, 'shereen'}
<class 'set'>

In [ ]:
# empty set
s = set()
print(s)
print(type(s))
# 1D and 2D
s1 = {1,2,3}
print(s1)
s2 = {1,2,3,(4,5)}
print(s2)
# Homo and hetro
s3 = {1,'hello',4.5,(1,2,3)}
print(s3)
# using type conversion
s4 = set([1,2,3])
print(s4)
#duplicated not allowed
s5 = {1,1,2,2,3}
print(s5)

set()
<class 'set'>
{1, 2, 3}
{3, 1, (4, 5), 2}
{1, (1, 2, 3), 4.5, 'hello'}
{1, 2, 3}
{1, 2, 3}

In [ ]:
#add
s = {1,2,3,4,5}
s.add(6)
print(s)

{1, 2, 3, 4, 5, 6}

In [ ]:
#update
s.update([5,6,7])
print(s)

{1, 2, 3, 4, 5, 6, 7}

# **Deleting Items**
Sets Doesn't support item Deletion

In [ ]:
# del
s= {1,2,3,4,5}
del(s)

# it complete delete set

In [ ]:
#remove
s = {1,2,3,4}
s.remove(4)
print(s)

{1, 2, 3}

In [ ]:
# clear
s.clear()
print(s)

set()

In [ ]:
print({1,2,3,4,5})

{1, 2, 3, 4, 5}

In [ ]:
s=set([1,2,3])

In [ ]:
s,type(s)

({1, 2, 3}, set)

In [ ]:
s = {1,2,3}

In [ ]:
s

{1, 2, 3}

In [ ]:
s.add(5)

In [ ]:
s

{1, 2, 3, 5}

In [ ]:
s.pop()  # it select random number from set

1

In [ ]:
l = [1,3,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2]
type(l)

list

In [ ]:
s=set(l)

In [ ]:
s

{1, 2, 3}

# **Set opeartion**

In [ ]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
# union
print(s1 | s2)
# intersection
print(s1 & s2)
# Differences
print(s1 - s2)
print(s2 - s1)
# membership test
print(1 in s1)
print(1 not in s1)
# iteration
for i in s1:
  print(i)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{8, 6, 7}
True
False
1
2
3
4
5

# **Set Function**

In [ ]:
# len/sum/min/max/sorted
s = {3,1,4,5,2,7}
print(len(s))
print(sum(s))
print(min(s))
print(max(s))
print(sorted(s))

6
22
1
7
[1, 2, 3, 4, 5, 7]

In [ ]:
# copy
s1 = {1,2,3}
s2 = s1.copy()
print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3}

### Exercise

Create a set named fruits that contains the following items: "apple", "banana", "cherry".

Add "orange" to the fruits set. Print the set to confirm the addition.

Remove element

{'cherry', 'banana', 'apple'}
{'cherry', 'orange', 'banana', 'apple'}
cherry
{'orange', 'banana', 'apple'}

<details><summary>Click here for the solution</summary>

```python

fruits = {"apple", "banana", "cherry"}
print(fruits)  # Output: {'apple', 'banana', 'cherry'}

fruits.add("orange")
print(fruits)  # Output: {'apple', 'banana', 'cherry', 'orange'}

popped_element = fruits.pop()
print(popped_element)  # Output: (an arbitrary element from the set)
print(fruits)  # Output: (set after removal of the popped element)

```
</details>

```

# **Type Conversion**
How to covert One Datatypeinto another In python?
int(): Converts a value to an integer data type. This is useful when you want to convert a
string or a floating-point number to an integer.

In [ ]:
str_number = "123"
int_number = int(str_number) # Converts the string "123" to an integer
int_number

123

In [ ]:
#float(): Converts a value to a floating-point data type. It is used to convert integers or strings containing numeric values to floating-point numbers
int_value = 42
float_value = float(int_value) # Converts the integer 42 to a float
float_value

42.0

In [ ]:
a = 23
b = "24"
print(a+b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# It Gives error beacause We do not add float into integer datatyupe so we have to convert
above opeartion

In [ ]:
a = 23
b = "24"
print(float(a)+float(b))

47.0

# **# Arithmetic Operators:**
Addition (+)

Subtraction (-)

Multiplication (*)

Division (/)

Floor Division (//)

Modulus (%)

Exponentiation (**)

In [ ]:
print(5+6) # Addtion -> adding the numbers
print(5-6) # subtraction-> subtract the number
print(5*6) # Multiplication -> Multiply the number
print(5/2) # Divsion -> Divide the numnber
print(5//2) # Floor Division -> It trasform into integer number= 2.5 convert into 2
print(5%2) # Modulus -> It Provides remainder of the Divsion
print(5**2) # Exponential -> raising a number to a certain power.(raised to power)

11
-1
30
2.5
2
1
25

# **Comparison Operators/ Relational Opeartors:**

Equal to (==)

Not equal to (!=)

Less than (<)

Greater than (>)

Less than or equal to (<=)

Greater than or equal to (>=)

In [ ]:
print(4==4)
print(4!=4)
print(4<5)
print(4>5)
print(4<=4)
print(4>=4)

True
False
True
False
True
True

In [ ]:
1 > 2

False

In [ ]:
1 < 2

True

In [ ]:
1 >= 1

True

In [ ]:
1 <= 4

True

In [ ]:
1 == 1

True

In [ ]:
'hi' == 'bye'

False

# **Logical Operators:**

Logical AND (and)

Logical OR (or)

Logical NOT (not)

In [ ]:
p = True
q = False
print(p and q) # true and false -> 1 and 0 = 0
print(p or q) # true or false -> 1 or 0 = 1
print(not p)

False
True
False

In [ ]:
(1 > 2) and (2 < 3)

False

In [ ]:
(1 > 2) or (2 < 3)

True

In [ ]:
(1 == 2) or (2 == 3) or (4 == 4)

True

In [ ]:
 1 != 2

True

# **Assignment Operators:**
Assignment (=)

Add and Assign (+=)

Subtract and Assign (-=)

Multiply and Assign (*=)

Divide and Assign (/=)

Floor Divide and Assign (//=)

Modulus and Assign (%=)

Exponentiate and Assign (**=)

In [ ]:
x = 10
x += 5
print(x) # Equivalent to x = x + 5

15

In [ ]:
x = 10
x -= 3 # Equivalent to x = x - 3
x *= 2 # Equivalent to x = x * 2
x /= 4 # Equivalent to x = x / 4
x //= 2 # Equivalent to x = x // 2
x %= 3 # Equivalent to x = x % 3
x **= 2 # Equivalent to x = x ** 2

## if,elif, else Statements

In [ ]:
"""
 1_ (if)
if condition :
    statement

 2_ (if else)
if condition :
    statement
else :
    statement

3_ (if elif)
if condition :
    statement
elif condition :
    statement
else :
    statement

"""

if 1 < 2:
    print('Yep!')

Yep!

In [ ]:
if 1 > 2:
    print('yep!')

In [ ]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [ ]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [ ]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

In [ ]:
if 3 in [1,2,3,4,5]:
    print('Yes')
else :
    print('NO')

Yes

In [ ]:
if 3 not in [1,2,3,4,5]:
    print('Yes')
else :
    print('NO')

NO

In [ ]:
#Examples
grade=70

if grade>=70:
    print("pass")
else:
    print('fail')

if 90<=grade<=100:
    print('A')
elif grade<90 and grade>=80:
    print("B")
elif  70<=grade<80:
    print("C")
elif 0<=grade<70:
    print("Fail")
else:
    print("Invalid grade")

pass
C

### Exercise

Takes a number input from the user, checks if the number is even or odd, and performs additional checks based on that:

<details><summary>Click here for the solution</summary>

```python

# Take input from the user
number = int(input("Enter a number: "))

# Check if the number is even or odd
if number % 2 == 0:
    # If the number is even, check if it's greater than 10 or less
    if number > 10:
        print(f"The number {number} is even and greater than 10.")
    else:
        print(f"The number {number} is even and less than or equal to 10.")
else:
    # If the number is odd, print its value
    print(f"The number {number} is odd.")

```
</details>

```

# Great Job!
# ENG : shereen saad